<% layout("/layouts/boiler") %>

    <div class="loader-wrapper">
        <span class="loader">
            <span class="loader-inner"></span>
        </span>
    </div>

    <div class="container py-4">
        <div class="header-allList">
            <h3>Search where you want to Go!</h3>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <form action="/allList/searchbox" method="post" class="searchBox">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search-box" name="search" placeholder="Enter Location / Country / Title" required>
                </form>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
            <% for(let list of lists) { %>
                <div class="col card-div">
                    <a href="/allList/<%= list._id %>" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm listing-card" style="border: none !important;">
                            <img src="<%= list.image.url %>" class="card-img-top" alt="<%= list.title %>"
                                style="height: 200px; object-fit: cover; border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important;">
                            <div class="card-body">
                                <h5 class="card-title"><b>
                                        <%= list.title %>
                                    </b></h5>
                                <p class="card-text text-muted">
                                    <%= list.location %>, <%= list.country %>
                                </p>
                                <p class="card-text">&#8377; <%= list.price %> / night</p>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
    </div>