<% layout("/layouts/boiler") %>
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 140px);">
    <div class="card" style="max-width: 750px; width: 100%; margin-bottom: 1rem;">
        <div class="card-header">
            <h1><i><%= item.title %></i></h1>
        </div>

        <div class="card-body p-0" style="margin: 0rem 1rem !important;">
            <img class="w-100" src="<%= item.image.url %>" alt="<%= item.title %>" style="height: 375px; object-fit: cover;">
            <div style="padding: .2rem;">
                <p class="fs-5 mb-3"><%= item.description %></p>
                <p class="h4 text-success mb-2">₹ <%= item.price.toLocaleString("en-IN") %> / night</p>
                <p class="mb-4"><i class="fas fa-map-marker-alt me-2 text-muted"></i><%= item.location %>, <%= item.country %></p>
                
                <div class="d-flex gap-2 mb-4">
                    <a href="/allList/<%= item._id %>/edit" class="btn btn-primary">Edit</a>
                    <form action="/allList/<%= item._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="hr"></div>

        <div class="review" style="margin: 0.5rem 1rem !important;">
            <div class="see-review">
                <h4 style="margin-left: .2rem;">All Comments</h4>
                <div class="see-review-div">
                    <% for(let review of item.review) { %>
                        <div class="border p-2 mb-3 see-review-card">
                            <p>Rating: <%= review.rating %></p>
                            <p>Comment: <%= review.comment %></p>
                            <form method="post" action="/listing/<%=item._id%>/review/<%=review._id%>?_method=DELETE">
                                <button class="btn btn-dark">Delete</button>
                            </form>
                        </div>
                    <% } %>   
                </div>
            </div>
        </div>
        
        <div class="hr"></div>

        <div class="review" style="margin: 0.5rem 1rem !important;">
            <div class="add-review">
                <h4 style="margin-left: .2rem;">Add Comments</h4>
                <form action="/listing/<%= item._id %>/review" method="POST" class="form-label" novalidate class="needs-validation">
                    <div>
                        <label style="margin: .4rem .2rem;" class="form-label"><b>Comment</b></label>
                        <textarea name="review[comment]" rows="5" class="form-control" required></textarea>
                    </div>
                    <div>
                        <label style="margin: .4rem .2rem;" class="form-label"><b>Rating</b></label>
                        <input class="form-control" name="review[rating]" min="1" max="5" required>
                    </div>
                    <button class="btn btn-dark" style="margin: .8rem 0rem;">Add Review</button>
                </form>
            </div>
        </div>

    </div>
</div>